<extend name="Public:base" />
<!-- 需要继承的不用写，不需要继承（去掉的）要写，并且里面为空 -->
<block name="main-header">
	<div class="header">
        <div class="stats">
            <p class="stat"><span class="label label-info">48</span> Images</p>
            <p class="stat"><span class="label label-success">4</span> Galleries</p>
        </div>
        <h1 class="page-title">Media</h1>
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Gallery</li>
        </ul>
    </div>
</block>
<block name="main-content">
	<div class="main-content">
	    
	    <div class="panel panel-default">
	        <p class="panel-heading">Gallery of Things</p>
	        <div class="panel-body gallery">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <div class="clearfix"></div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-6 col-md-6">
	            <div class="panel panel-default">
	                <p class="panel-heading">Gallery of Stuff</p>
	                <div class="panel-body gallery">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <div class="clearfix"></div>
	                </div>
	            </div>
	        </div>
	        <div class="col-sm-6 col-md-6">
	            <div class="panel panel-default">
	                <p class="panel-heading">Gallery of Stuff</p>
	                <div class="panel-body gallery">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <img src="images/170x170.gif" class="img-polaroid">
	                    <div class="clearfix"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="panel panel-default">
	        <p class="panel-heading">Gallery of Stuff</p>
	        <div class="panel-body gallery">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <img src="images/140x140.gif" class="img-polaroid">
	            <div class="clearfix"></div>
	        </div>
	    </div>
	    <footer>
	        <hr>
	        <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
	        <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
	        <p>© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
	    </footer>
	</div>
</block>
