<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>公司简介</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
		<style type="text/css">
			.a_active{
				color: #099fde;
			}
			.a_unactive{
				color: #808285;
			}
			.div_active{
				background: #099fde;
			}
			.div_unactive{
				background: #f9f9f9;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
					<div class="col-xs-12" style="background: #099fde;text-align:center;color:#fff;font: 600 1.286em/2 Tahoma;height:50px;line-height:50px;">公司简介</div>
			</div>
			<br>
		<img src="__PUBLIC__/images/tiayu.jpg" width="100%" height="100%"><br><br>
		　　天津天禹盛大进出口贸易有限公司坐落于天津港保税区(中国最大的大宗商品进出口港口).我们是一家及进口汽车销售、汽车零配件供应、平行进口汽车在线推广、进口汽车技术服务于一体的专业平台！我们拥有经验丰富的团队和完善的管理体系。为了拓展公司渠道我公司还在北美、欧洲、中东均成立分公司。<br>
		　　目前公司贸易规模日益扩大，客户遍及世界各地，以良好的信誉得到了国内外客户的信赖，对促进我国的现代化建设，促进与世界各国的经济技术交流，增进同各国人民的友谊做出了许多积极的工作。天禹盛大全体员工将以殚精竭力，开拓创新的精神为全国汽车销售商和广大的消费者提供更完善的服务。<br><br>
		邮　箱：tianyushengda2014@126.com<br><br><br>
		</div>
	</body>
</html>