<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>美国办公室简介</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
		<style type="text/css">
			.a_active{
				color: #099fde;
			}
			.a_unactive{
				color: #808285;
			}
			.div_active{
				background: #099fde;
			}
			.div_unactive{
				background: #f9f9f9;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
					<div class="col-xs-12" style="background: #099fde;text-align:center;color:#fff;font: 600 1.286em/2 Tahoma;height:50px;line-height:50px;">美国办公室简介</div>
			</div>
			<br>
		<img src="__PUBLIC__/images/meiguo.jpg" width="100%" height="100%"><br><br>
		　　CU GLOBAL, INC.于2014年11月17日成立于美国，公司由ZHONG先生全额投资并担任首席执行官，总部位于加利福尼亚州洛杉矶。(加州企业编码：C3727878) 公司业务覆盖北美地区，主要从事美国与中国及亚太地区间的汽车及其零配件出口等各种进出口国际贸易业务。CU GLOBAL, INC.致力于美中两国之间的经济，文化和投资环境政策交流并积极促进双边贸易。<br><br>
		</div>
	</body>
</html>