<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>售后服务</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
		<style type="text/css">
			.a_active{
				color: #099fde;
			}
			.a_unactive{
				color: #808285;
			}
			.div_active{
				background: #099fde;
			}
			.div_unactive{
				background: #f9f9f9;
			}
		</style>
	</head>
	<body><center>
		<div class="container-fluid">
			<div class="row">
					<div class="col-xs-12" style="background: #099fde;text-align:center;color:#fff;font: 600 1.286em/2 Tahoma;height:50px;line-height:50px;">售后服务</div>
			</div>
			<br>
		<div class="container-fluid">
		全国连锁维修　　　　全国保险电话：<br>　　　　　　　　　　400-118-1118<br><br>
		<table border="1">
			<tr>
			  <th><span style="font-size:15px;color:red;">1、浙江红旭实业有限公司龙湾分公司(中心)</span>
			  　　地址：温州龙湾扶贫经济开发区G01地块<br>
			  　　联系电话：0577-86658889</th>
			</tr>
		</table><br>
		<table border="1">
			<tr>
			  <th><span style="font-size:15px;color:red;">2、浙江红旭实业有限公司龙湾分公司(中心)</span>
			  　　地址：温州龙湾扶贫经济开发区G01地块<br>
			  　　联系电话：0577-86658889</th>
			</tr>
		</table></br>
		<table border="1">
			<tr>
			  <th><span style="font-size:15px;color:red;">3、浙江红旭实业有限公司龙湾分公司(中心)</span>
			  　　地址：温州龙湾扶贫经济开发区G01地块<br>
			  　　联系电话：0577-86658889</th>
			</tr>
		</table></br>
		<table border="1">
			<tr>
			  <th><span style="font-size:15px;color:red;">4、浙江红旭实业有限公司龙湾分公司(中心)</span>
			  　　地址：温州龙湾扶贫经济开发区G01地块<br>
				联系电话：0577-86658889</th>
			</tr>
		</table></br>
		</div>
		</div></center>
	</body>
</html>