<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>中东办公室简介</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
		<style type="text/css">
			.a_active{
				color: #099fde;
			}
			.a_unactive{
				color: #808285;
			}
			.div_active{
				background: #099fde;
			}
			.div_unactive{
				background: #f9f9f9;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
					<div class="col-xs-12" style="background: #099fde;text-align:center;color:#fff;font: 600 1.286em/2 Tahoma;height:50px;line-height:50px;">中东办公室简介</div>
			</div>
			<br>
		<img src="__PUBLIC__/images/dibai.jpg" width="100%" height="100%"><br><br>
		　　SUPER CHAMPION TRADING FZE 于2015年2月17日成立于阿联酋，公司由 YU先生全额投资由ZHANG先生任总经理 ,总部位于阿联酋迪拜杰贝阿里自由贸易区（执照号码：147125）主要从事中东各国与中国地区间的钢铁、精密模具以及汽车及其零配件的进出口国际贸易业务。Super Champion Trading FZE致力于中东地区各国和中国之间的经济，文化和投资环境政策交流并积极促进双边贸易，为增进同中东各国人民的友谊做出积极的贡献。<br><br>
		</div>
	</body>
</html>