<extend name="Public:base" />
<!-- 需要继承的不用写，不需要继承（去掉的）要写，并且里面为空 -->
<block name="main-header">
	<div class="header">
        <h1 class="page-title">修改燃油类型</h1>
        <ul class="breadcrumb">
            <li>车型管理</li>
            <li class="active">修改燃油类型</li>
        </ul>
    </div>
</block>
<block name="main-content">
	<div class="main-content">
		<form enctype="multipart/form-data" action="{:U('oil_modify_update',array('oil_id'=>$oil[0]['id']))}" method="post" >
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">燃油类型名称</label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="oil_name_ch" id="oil_name_ch" placeholder="" value="{$oil[0]['oil_name_ch']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">是否显示</label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<label class="radio-inline">
					  <input type="radio" name="oil_display" id="oil_display" value="1"> 显示
					</label>
					<label class="radio-inline">
					  <input type="radio" name="oil_display" id="oil_display" value="0"> 不显示
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12 control-label" style="padding:0px 0px 5px 0px;">排序</label>
				<div class="col-md-6" style="padding:0px 0px 10px 0px;">
					<input type="text" class="form-control" name="oil_weight" id="oil_weight" placeholder="" value="{$oil[0]['oil_weight']}">
				</div>
			</div>
			<div class="form-group">
					<div class="btn-toolbar list-toolbar col-md-offset-2 col-md-10" style="margin-top:20px;margin-bottom:20px;">
				    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> 保 存</button>
					<a href="{:U('oil_list')}" class="btn btn-danger"><i class="glyphicon glyphicon-list"></i> 返回列表</a>
			</div>
		</form>
	</div>
	<script>
	$(document).ready(function() {
				$("input[name='oil_display'][value='{$oil[0]['oil_display']}']").attr("checked",true);
			});
	</script>
</block>
