<extend name="Public:base" />
<!-- 需要继承的不用写，不需要继承（去掉的）要写，并且里面为空 -->
<block name="main-header">
	<div class="header">
        <h1 class="page-title">节点管理</h1>
        <ul class="breadcrumb">
            <li>内部管理</li>
            <li class="active">节点管理</li>
        </ul>
    </div>
</block>
<block name="main-content">
	<div class="main-content">
		<form enctype="multipart/form-data" action="{:U('jiedian_delete_update')}" method="post" >
			<div class="btn-toolbar list-toolbar col-md-12">
			    <a href="{:U('jiedian_add')}" class="btn btn-primary"><i class="fa fa-plus"></i> 添加节点</a>
			    <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> 删除节点</button>
			</div>
			<!-- <h1 class="page">Premium User List</h1> -->
			<h3 class="page-tagline"></h3>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered">
						<thead>
							<tr style="background: #0099FF;color:#FFFFFF">
								<th>序号</th>
								<th>节点名</th>
								<th>节点说明</th>
							</tr>
						</thead>
						<tbody>
							<volist name='jiedian' id='vo'>
							<tr>
								<td> <input type="checkbox" name="delete_id[]" value="{$vo['id']}">&nbsp;&nbsp;{$vo['id']}</td>
								<td>{$vo['jiedian_title']}</td>
								<td>{$vo['jiedian_memo']}</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
		</form>	
	</div>
</block>


		
		
