<extend name="Public:base" />
<block name="style-header">
 <link href="__STYLE__/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="__STYLE__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
        <link rel="stylesheet" href="__CSS__/font-awesome.css">
		 <link rel="stylesheet" type="text/css" href="__CSS__/theme.css">
        <link rel="stylesheet" type="text/css" href="__CSS__/premium.css">

</block>
<!-- 需要继承的不用写，不需要继承（去掉的）要写，并且里面为空 -->
<block name="main-header">
	<div class="header">
        <h1 class="page-title">会员管理</h1>
        <ul class="breadcrumb">
            <li>会员管理</li>
            <li class="active">会员管理</li>
        </ul>
    </div>
</block>
<block name="main-content">
	<div class="main-content">
		<form enctype="multipart/form-data" action="{:U('user_list')}" method="post" >
			<div class="form-group">
                <label for="dtp_input2" class="col-md-2 control-label" style="width: 100px;">注册时间</label>
                <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly name="start_time">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="start_time" value="" /><br/>
            </div><br/>
			<div class="form-group">
                <label for="dtp_input2" class="col-md-2 control-label" style="width: 100px;">　　至</label>
                <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly name="end_time">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="end_time" value="" /><br/>
            </div>
			<div>
				<label class="control-label" style="float:left;"><br>&nbsp;&nbsp;&nbsp;&nbsp;电话号码：&nbsp;　</label>
				<input type="text" class="form-control" style="width: 290px;float:left;margin-top:10px;" name="search_condition" />
				
			</div><br><br><br><br>
		<div class="form-group">
			<label class="col-md-1 control-label" style="padding:0px 0px 5px 0px;width: 100px;">　是否员工：</label>
			<div>
				<label class="radio-inline">
				  　<input type="radio" name="staff_display" id="staff_display" value="1"> 是
				</label>
				<label class="radio-inline">
				 　 <input type="radio" name="staff_display" id="staff_display" value="0"> 否
				 </label><br><br>
				 <button type="submit" class="btn btn-danger" id="user_search" style="width:120px;float:left;margin-top:20px;margin-left:10px;"><i class="glyphicon glyphicon-search"></i>搜索</button>
				
			</div>
		</div>
		
	</div></form><br><br><br><br><br><br><br><br>
		<form enctype="multipart/form-data" action="{:U('user_delete_update')}" method="post" >
			<div class="btn-toolbar list-toolbar col-md-12">　　　　　　　　　　　　　　　　　　　
				<button type="submit" class="btn btn-danger" style="width: 12%; float: left; margin-top: -196px; margin-bottom: 0px; border-top-width: 1px; margin-left: 200px;"></i>删除</button>
			</div>
			<!-- <h1 class="page">Premium User List</h1> -->
			<h3 class="page-tagline"></h3>
			<div class="row">
				<div class="col-md-12" style="margin-top: -130px;">
					<table class="table table-bordered">
						<thead>
							<tr style="background: #0099FF;color:#FFFFFF">
								<th>用户ID</th>
								<th>用户类型</th>
								<th>用户电话</th>
								<th>用户密码</th>
								<th>用户昵称</th>
								<th>用户名</th>
								<th>国家</th>
								<th>省份</th>
								<th>市区</th>
								<th>性别</th>
								<th>头像</th>
								<th>注册时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name='user' id='vo'>
							<tr>
								<td> <input type="checkbox" name="delete_id[]" value="{$vo['id']}">　{$vo['id']}　　　　　</td>
								<!--<td>{$vo['user_openid']}</td>-->
								<td><if condition="$vo['user_type'] eq 1">个人
								<else/>商家
								</if>　　　　　　</td>
								<td>{$vo['user_phone']}　</td>
								<td>{$vo['user_password']}　　　　　</td>
								<td>{$vo['user_wx_nickname']}　　　　　</td>
								<td>{$vo['user_name']}　　　　　</td>
								<td>{$vo['user_wx_country']}　　　　　</td>
								<td>{$vo['user_wx_province']}　　　　　</td>
								<td>{$vo['user_wx_city']}　　　　　</td>
								<td><if condition="$vo['user_wx_sex'] eq 1">男
								<else/>女
								</if>　　　　</td>
								<td><img src='{$vo['user_wx_headimgurl']}' border=0 width=100 height=100></td>
								<td>{$vo['user_register_time']}　　　　　</td>
								<td>
									<a href="{:U('Dingdan/dingdan_list',array('user_id'=>$vo['id']))}">查看订单</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
									<a href="{:U('user_list',array('user_id'=>$vo['id']))}">绑定员工&nbsp;&nbsp;&nbsp;&nbsp;</a>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
					
				</div>
			</div>
		</form>
		<input type="text" value="all" id="page_condition" style="display:none;" />
		<input type="text" value="" id="order_condition"  style="display:none;" />
		<div class="result page" id='footer_div' style="text-align:center"><font id='wc'>共 {$user_count} 条记录  {$page_now}/{$user_pagenum} 页 </font>  <a class="pre_page" href="#">上一页</a>  <a class="next_page" href="#">下一页</a>  跳至<input style="width:25px;" class="jump_page" type="text"/> 页 &nbsp; <input type="button" class="btn btn-primary btn-sm jump_button" value="提交">  </div>
		
		
		
	</div>
	




<script type="text/javascript" src="__JS__/jquery-1.11.1.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STYLE__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STYLE__/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STYLE__/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STYLE__/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">



	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		language:'zh-CN',
    });






		$('.next_page').on('click', function() {
			order_condition = $('#order_condition').val();
			page_condition = $('#page_condition').val();
			if ({$page_now} == {$user_pagenum}) {
				alert('当前页为最后一页');
			}else{
				location.href = "{:U('user_list',array('page_now'=>$page_now+1))}";
			};
		});

		$('.pre_page').on('click', function() {
			order_condition = $('#order_condition').val();
			page_condition = $('#page_condition').val();
			if ({$page_now} == 1) {
				alert('当前页为第一页');
			}else{
				location.href = "{:U('user_list',array('page_now'=>$page_now-1))}";
			};
		});

		$('.jump_button').on('click', function() {
			order_condition = $('#order_condition').val();
			page_condition = $('#page_condition').val();
			if ( parseInt($('.jump_page').val()) < 1 || parseInt($('.jump_page').val()) > {$user_pagenum} ) {
				alert('超过页数范围');
			}else{
				location.href = "{:U('user_list')}/page_now/"+$('.jump_page').val();
			};
		});

		//$('#user_search').on('click', function() {
		//	location.href = "{:U('user_list')}/search_condition/"+$('#search_condition').val()+"/start_time/"+$('#start_time').val()+"/end_time/"+$('#end_time').val();
		//});

		$(document).ready(function() {
			if ('{$search_condition}' != '') {
				$('#search_condition').val('{$search_condition}');
			};
			if ('{$start_time}' != '') {
				$('#strat_time').val('{$start_time}');
			};
			if ('{$end_time}' != '') {
				$('#end_time').val('{$end_time}');
			};
		});

		


	</script>
</block>


		
		
